.wrapper {
  @apply flex flex-col mb-4;
}
.label {
  @apply text-sm font-medium text-neutral-90 mb-2;
}

.antdDatePickerPopup {
  /* Default popup background */
  @apply bg-white;
  [class*='ant-picker-footer'] {
    display: none !important;
  }

  [class*='ant-picker-cell-inner'] {

    &:hover {
      @apply text-neutral-10;
      background: rgb(1 149 159 / var(--tw-bg-opacity, 1)) !important
    }
  }

  [class*='ant-picker-cell-today'] {
    [class*='ant-picker-cell-inner'] {
      @apply text-neutral-10;
      background: rgb(1 149 159 / var(--tw-bg-opacity, 1)) !important;
      outline: 0 !important;
    }
  }
}

.picker {
  @apply mb-2;
  position: relative;

  :global(.ant-picker) {
    @apply w-full rounded-lg border-2 border-neutral-40 bg-white px-3 py-2 text-neutral-90 shadow-sm outline-0 transition-colors duration-150;
    box-shadow: none !important;
    padding-left: 40px; /* space for prefix icon */
  }
 

  :global(.ant-picker:hover),
  :global(.ant-picker-focused) {
    @apply border-primary outline-0;
    box-shadow: none !important;
  }

  :global(.ant-picker-input > input::placeholder) {
    @apply text-neutral-60;
  }

  .prefixIcon {
    z-index: 10;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    width: 18px;
    height: 18px;
    pointer-events: none;

    img {
      width: 18px;
      height: 18px;
      display: block;
    }
    svg {
      width: 18px;
      height: 18px;
      display: block;
    }
  }
}
.helper {
  @apply text-xs text-neutral-60;
}